<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
   <section>
    <nav>
        <div class="direct">
            <div><a routerLink="/home">Home</a></div>
            <div><a routerLink="/products">Products</a></div>
            <div><a routerLink="/contact">Contact</a></div>

        </div>
    </nav>

   </section>
</body>
</html>