.img1
{
  width: 10%;
  height: 10%;
}
.bt2
{
border:  2px solid blueviolet ;
width: 5%;
border-radius: 20px;
}
.tab1
{
  border: 2px dotted bluevioletred;
  border-radius: 20px;
  background-color: aqua;
}
.head1
{
  color: black;
  font-size: 50px;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
  text-decoration: underline;
}
.div1
{
  /* background-color: aqua; */
  border: 2px solid black;
  width: 20%;
  height: 20vh;
  margin:-9% 0% 0% 0% ;
}